/* src/showcase/MarkdownEditor/MarkdownEditor.module.css */
.container {
    display: flex;
    flex-direction: column;
    height: 110vh;
    font-family: 'Roboto', sans-serif;
}

.editorPreviewContainer {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.editorContainer,
.previewContainer {
    flex: 1;
    overflow: auto;
}

@media (max-width: 768px) {
    .editorPreviewContainer {
        flex-direction: column;
    }
}

.editorContainer {
    border-right: 1px solid #ddd;
}

.editor {
    height: 100%;
}

.preview {
    padding: 20px;
}
